@use '../../App';

.text-animate {
  display: inline-block;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: heartBeat 2s;
    cursor: pointer;
    color: App.$active-color;
  }
}

$ltrDelay: 12;

@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{calc($i / $ltrDelay)}s;
  }
}
