@use '../../App';

$hoverColor: #503d3d;

.home-page {
  .text-zone {
    width: 50%;
    margin-left: 8vw;
    margin-top: 10vh;
    max-width: 90%;

    h1 {
      color: App.$secondary-color;
      font-size: 7rem;
      letter-spacing: 2px;
      margin: 0;
      font-family: 'JetBrains Mono', monospace;
      font-weight: 800;
    }

    h2 {
      color: App.$secondary-color;
      font-size: 1.7rem;
      line-height: 2rem;
      margin-top: 20px;
      margin-left: 20px;
      font-family: 'Consolas', monospace;
      font-weight: 400;
      letter-spacing: 0.3rem;
      animation: fadeIn 0.8s 0.9s backwards;
    }

    @media (max-width: 1000px) {
      margin-top: 15vh;
    }
  }

  .flat-button {
    color: App.$secondary-color;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid App.$secondary-color;
    float: left;
    animation: fadeIn 0.8s 0.9s backwards;
    white-space: nowrap;

    &:hover {
      background-color: $hoverColor;
      border: none;
      color: #ffffff;
    }
  }
}
