body {
  background-color: #ececec;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.Logo-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  float: left;
  /* margin-left: 1vw; */
  /* min-height: 30vw; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 1vw;
  margin-top: 1vw;
}

.Nav-item {
  float: left;
  margin-right: 0px;
  margin-left: 10px;
}

.Nav-item:first-child {
  margin-left: 5px;
}

.Nav-link {
  padding: 8px 30px 11px 30px;
  background-color: #f7a194;
  color: white;
  font-weight: 650;
  text-decoration: none;
  transition: ease-in-out 150ms;
}

.Nav-link:hover {
  background-color: #ff6b63;
  /* padding: 10px 50px 13px 50px; */
}

.Nav {
  list-style: none;
  text-align: center;
  /* margin-top: 1vw; */
  padding: 0;
  margin: 1vh;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
